<body>
<form action="./insert" method="GET">
    <table>
        <tr>
            <td>교실번호(ex 2학년 3반 > 203 입력):</td>
            <td><input type="text" name="class_no" id="class_no"></td>
        </tr>
        <tr>
            <td>교사 id 입력:<br>
            <td><input type="text" name="teacher_Id" id="teacher_Id"></td>
        </tr>
        <tr>
            <td>비밀번호:</td>
            <td><input type="text" name="pw" id="pw"></td>
        </tr>
        <tr><td></td><td><input type="submit" value="계정생성"></input></td></tr>
    </table>
    

</form>
</body>