<body>

    <form action="./select_student" method="GET">

        <h1>학생 점수표</h1>
        <table>
            <tr>
                <td><h3>ID:</h3></td>
                <td><input type="text" name="t_id" id="chk_teacher_id"></td>
            </tr>
            <tr>
                <td><h3>비밀번호:</h3></td>
                <td><input type="text" name="pw" id="chk_pw"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value = "입력" ></td>
            </tr>
        </table>
    </form>

   
</body>