<body>

    <form action="./student_point_table" method="GET">

        <h1>학생 점수표</h1>
        <table>
            <tr>
                <td><h3>ID:</h3></td>
                <td><input type="text" name="t_id" id="chk_teacher_id"></td>
            </tr>
            <tr>
                <td><h3>비밀번호:</h3></td>
                <td><input type="text" name="pw" id="chk_pw"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value = "입력" id="chk_pw"></td>
            </tr>
        </table>
    </form>

    <table border = "1">
        <tr>
            <th>학번</th>
            <th>1일차</th>
            <th>2일차</th>
            <th>3일차</th>
            <th>4일차</th>
            <th>5일차</th>
            <th>결과</th>
            <th>개인정보 안전 점수</th>
        </tr>
        <tr>
            <td>data1</td>
            <td>data2</td>
            <td>data3</td>
            <td>data4</td>
            <td>data5</td>
            <td>data6</td>
            <td>data7</td>
            <td>data8</td>

        </tr>
       
    </table>
</body>