
<body>

    <h1>학생 점수표</h1>
    <table border = "1">
        <tr>
            <th>학번</th>
            <th>1일차</th>
            <th>2일차</th>
            <th>3일차</th>
            <th>4일차</th>
            <th>5일차</th>
            <th>결과</th>
            <th>개인정보 안전 점수</th>
        </tr>
        <% for(var i=0; i < rows.length; i++) { %>
        <%  var data = rows[i];    %>
            <tr>
                <td><%=data.std_no || 1%></td>
                <td><%=data.day1_pt%></td>
                <td><%=data.day2_pt%></td>
                <td><%=data.day3_pt%></td>
                <td><%=data.day4_pt%></td>
                <td><%=data.day5_pt%></td>
                <td><%=data.total%></td>
                <td><%=data.security_point%></td>
            </tr>
        <% } %>
    </table>
    <% const encodedUri = encodeURI([rows]); %>
    <% console.log(encodedUri) %>
    <a href="<%=encodedUri%>" download="my_data.csv">download</a>
</body>

